/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/components/_sections.scss */
.blog-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}
/* line 7, ../sass/components/_sections.scss */
.blog-navigation__item {
  display: inline-block;
  padding: 10px 28px;
}
/* line 11, ../sass/components/_sections.scss */
.blog-navigation__item:hover {
  background: #000;
}
/* line 14, ../sass/components/_sections.scss */
.blog-navigation__item:hover a {
  color: #FFF;
}
/* line 20, ../sass/components/_sections.scss */
.blog-navigation__item_active {
  background: #000;
}
/* line 23, ../sass/components/_sections.scss */
.blog-navigation__item_active a {
  color: #FFF;
}
/* line 28, ../sass/components/_sections.scss */
.blog-navigation__item a {
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}
/* line 33, ../sass/components/_sections.scss */
.blog-navigation__item a:active {
  color: inherit;
}
/* line 37, ../sass/components/_sections.scss */
.blog-navigation__item a:focus {
  outline: none;
}

/* line 44, ../sass/components/_sections.scss */
.presentation-page {
  width: 100%;
  height: 370px;
  background: url(../img/bg-img.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
  overflow: hidden;
}

/* line 53, ../sass/components/_sections.scss */
.blog-name {
  background: #DB5B43;
  color: #FFF;
  margin: 0 auto;
  width: 630px;
  height: 165px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  margin-top: 100px;
}
/* line 65, ../sass/components/_sections.scss */
.blog-name__hr {
  display: inline-block;
  height: 2px;
  background-color: #fff;
  width: 106px;
}
/* line 71, ../sass/components/_sections.scss */
.blog-name__hr_left-top {
  float: left;
  left: 42px;
  bottom: 57px;
  position: absolute;
}
/* line 78, ../sass/components/_sections.scss */
.blog-name__hr_left-bottom {
  float: left;
  left: 42px;
  bottom: 50px;
  position: absolute;
}
/* line 85, ../sass/components/_sections.scss */
.blog-name__hr_right-top {
  float: right;
  position: absolute;
  bottom: 57px;
  right: 42px;
}
/* line 92, ../sass/components/_sections.scss */
.blog-name__hr_right-bottom {
  float: right;
  position: absolute;
  bottom: 50px;
  right: 42px;
}
/* line 100, ../sass/components/_sections.scss */
.blog-name__main-title {
  font-size: 45px;
  letter-spacing: 3px;
  margin: 27px 0 10px 0;
}
/* line 106, ../sass/components/_sections.scss */
.blog-name__title {
  font-size: 20px;
  letter-spacing: 1px;
}

/* line 112, ../sass/components/_sections.scss */
.content-wrapper {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px 0 20px 0;
}

/* line 119, ../sass/components/_sections.scss */
.rewiew-post-wrapper {
  background: #FFF;
  height: auto;
  margin-bottom: 35px;
  overflow: hidden;
  padding: 0 35px 0 15px;
}
/* line 126, ../sass/components/_sections.scss */
.rewiew-post-wrapper__title {
  font-size: 27px;
  font-family: monospace;
  color: #868686;
}
/* line 132, ../sass/components/_sections.scss */
.rewiew-post-wrapper__article {
  float: right;
  text-align: left;
  width: 51%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 0 20px;
  height: 215px;
  overflow: hidden;
  color: #868686;
}
/* line 144, ../sass/components/_sections.scss */
.rewiew-post-wrapper__btn_sm {
  float: right;
  background: #000;
  color: #868686;
  border: 0;
  padding: 6px 40px;
  font-size: 16px;
  margin-top: 10px;
}
/* line 153, ../sass/components/_sections.scss */
.rewiew-post-wrapper__btn_sm:hover {
  color: #FFF;
  cursor: pointer;
}

/* line 160, ../sass/components/_sections.scss */
.rewiew-post-wrapper__book-img {
  width: 155px;
  height: 185px;
}

/* line 165, ../sass/components/_sections.scss */
.book-photo-wrapper {
  width: 49%;
  height: 215px;
  float: left;
  position: relative;
}
/* line 171, ../sass/components/_sections.scss */
.book-photo-wrapper__background-img {
  width: 100%;
  height: 100%;
}
/* line 176, ../sass/components/_sections.scss */
.book-photo-wrapper__book-img {
  width: 150px;
  height: 200px;
  position: absolute;
  top: 15px;
  left: 24%;
}

/* line 185, ../sass/components/_sections.scss */
.book-photo-wrapper.book-photo-wrapper_right-side {
  width: 100%;
}

/* line 189, ../sass/components/_sections.scss */
.book-photo-wrapper__book-img.book-photo-wrapper__book-img_right-side {
  left: 18%;
}

/* line 193, ../sass/components/_sections.scss */
.post-date {
  color: #C390D4;
  font-size: 12px;
}

/* line 198, ../sass/components/_sections.scss */
.short-subtitle {
  font: 21px monospace;
  color: #868686;
}

/* line 203, ../sass/components/_sections.scss */
.tag-cloud {
  padding: 0;
  list-style-type: none;
}
/* line 207, ../sass/components/_sections.scss */
.tag-cloud__item {
  display: inline-block;
}
/* line 210, ../sass/components/_sections.scss */
.tag-cloud__item a {
  text-decoration: none;
  color: #868686;
}
/* line 214, ../sass/components/_sections.scss */
.tag-cloud__item a:hover {
  text-decoration: underline;
}

/* line 221, ../sass/components/_sections.scss */
.social-icons {
  font-size: 40px;
}
/* line 224, ../sass/components/_sections.scss */
.social-icons i:first-child, .social-icons i:nth-child(2) {
  margin-right: 5px;
}

/* line 229, ../sass/components/_sections.scss */
.social-icons i:hover {
  color: #262626;
  cursor: pointer;
}

/* line 1, ../sass/components/_main.scss */
body {
  background: #E1E1E1;
  margin: 0;
}

/* line 6, ../sass/components/_main.scss */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
  height: 0;
  visibility: hidden;
}

/* line 14, ../sass/components/_main.scss */
.container {
  width: 900px;
  margin: 30px auto;
  min-height: 50px;
}

/* line 20, ../sass/components/_main.scss */
.w67 {
  width: 67%;
  height: 100%;
  margin-right: 15px;
  float: left;
}

/* line 27, ../sass/components/_main.scss */
.w25 {
  width: 25%;
  height: 100%;
  float: right;
}

/* line 33, ../sass/components/_main.scss */
hr {
  border-color: #E8410E;
}
